<div class="section">
  <h3 id="download"><a href="download.html">Download</a></h3>

  <p>
    Install it from your Linux distribution (others coming soon)
  </p>

  <pre># yum install libosinfo (Fedora)
# apt-get install libosinfo (Debian)</pre>

  <p>
    Or grab the <a href="download.html">source release</a>
  </p>
</div>

<div class="section">
  <h3 id="comms"><a href="communicate.html">Communicate</a></h3>

  <p>
    Try the IRC channel #virt on <a href="http://www.oftc.net">OTFC</a>
    or the <a href="https://gitlab.com/libosinfo">GitLab Project</a>.
  </p>
</div>

<div class="section">
  <h3 id="docs"><a href="documentation.html">Documentation</a></h3>

  <p>
    Browse the <a href="api.html">API docs</a> to learn about
    its use
  </p>
</div>

<div class="section">
  <h3 id="bugs"><a href="bugs.html">Bug reporting</a></h3>

  <p>
    View <a href="bugs.html#view">known</a> bugs
  </p>
  <p>
    <a href="bugs.html#report">Report</a> a new bug
  </p>
</div>

<div class="section">
  <h3 id="scm"><a href="scm.html">Code repository</a></h3>

  <p>
    The code is <a href="https://gitlab.com/libosinfo/libosinfo.git">browsable</a> online.
  </p>
  <p>
    Get a personal checkout from GIT
  </p>
  <pre style="font-size: smaller"># git clone \
    https://gitlab.com/libosinfo/libosinfo.git</pre>
</div>
